.code-wrapper{
    border: white;
    border-style: solid;
    overflow-x: scroll;
    position: relative;
}
.code-wrapper pre{
   
    padding: 8px 20px;
    border-radius: 0 0 5px 5px;
}
#copy-button{
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 7px;
    border: none;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

