.maincontent
        {
   
          padding-top: 40px;
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 60px;
          
        }
        .indexpagesidebar
        {
          padding-left: 40px;
          padding-right: 40px;
          padding-top: 40px;
          padding-bottom: 60px;
 
        }
        
      .getooltipvideo{
        width: 100%;
        height: 400px;
      }
      .gettooltiptextimage{
        width: 100%;
        height: 400px;
      }