.indexpageul
{
 overflow-y:scroll;
 max-height: 330px;
}
.indexpageul>li>a{
    color: white;
}
.getooltipvideo
{
width: 100%;
height: 400px;
}
.gettooltiptextimage
{
width: 60%;
height: 400px;
}
.indexsidebar
{
height: 70px;
text-align: center;
color: white;
}
.indexpagesidebarcard{
    background-color: #563d7c;
}
.indexpageul>li{
    background-color: #563d7c;
    color: #563d7c;
}
