{% block content1 %}
{% load static %}
<link href="{% static 'css/code.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">


<h1 class="title">Get Tooltip Text Using Selenium Webdriver</h1>
    
                  <br>
                  <br>
                  <p>
                      A Tooltip is a text that appears when we mouse hovers over on an object. The object can be a link, an image, a button, a text area, etc. The tooltip text often gives more information about the object on which the user hovers over the mouse cursor.
                      As part of test validation process,let us see how to validate tooltip using selenium webdriver.
                  </p>
                  <br>
                  <p>
                    Please check below screenshot and script
                  </p>
                  <br>
                  <img class="gettooltiptextimage" src="{% static 'images/getttooltipimage.png' %}" alt="get tooltip">
           <div class="codecontainer">               
                <div class="code-wrapper">    
                <pre>
                  <code id="code1">                 
            package Scripts;
            import org.openqa.selenium.By;
            import org.openqa.selenium.WebDriver;
            import org.openqa.selenium.chrome.ChromeDriver;
            import org.openqa.selenium.support.ui.Sleeper;
            import io.github.bonigarcia.wdm.WebDriverManager;
              
              public class GetToolTipText 
              {
              public static void main(String[] args) throws InterruptedException
              {
              //set chrome driver path
              WebDriverManager.chromedriver().setup();
              ChromeDriver driver=new ChromeDriver();
              
              //Open url
              
              driver.get("http://www.testautomationpoint.com/Tooltip");
              
              //maximise browser
                                      
              driver.manage().window().maximize();
                                      
              //identify the object and get tooltip text
                                      
              String strtext = driver.findElement(By.id("toolTipButton")).getAttribute("title");
                                      
              //print the text
                                      
              System.out.println(strtext);
                                      
              //validation
              
              Thread.sleep(3000);
                                      
              if(strtext.equals("I am a button")) 
              {							
                System.out.println("Test Case Passed");					
              }	
              else
              {
              ystem.out.println("Test Case Failed");	
              }
                                      
              //close the browser
                                      
              driver.close();
              }                                  
              }     
                  
            </code>
            
          </pre>   
          <button id="copy-button" class="copy-button" data-clipboard-target="#code1">Copy</button> 
            </div>
        

        </div>
        <script src="{% static 'js/code.js' %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>   
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
<script>
    hljs.initHighlighting.called = false;
    hljs.initHighlighting();
    new ClipboardJS(".copy-button");

</script> 
{% endblock %}