

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestAutomationPoint</title>

    
    <!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/headerstyle.css" rel="stylesheet">
<link href="/static/css/code.css" rel="stylesheet">

</head>
<body>
  
    <div class="row">
      <div class="col-md-12 testautomationpointheader">  
        <div class="card">
            <div class="card-body">
  <nav class="navbar navbar-expand-lg navbar-light">

      <a class="navbar-brand" href="#">TestAutomationPoint</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/HomePage">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/About">About</a>
          </li>
          <li class="nav-item tutorialdropdown">
            <a class="nav-link" href="/" id="navbarDropdown" >
              Tutorial
            </a>
           
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/TestPage">Test Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Contact">Contact</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    
  </nav>

</div>
</div>
</div>
</div>
<script src="/static/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


<link href="/static/css/indexstyle.css" rel="stylesheet"/>
     <!-- Custom styles for this template -->
     <link href="/static/css/sidebars.css" rel="stylesheet">
     <link href="/static/css/indexstyle.css" rel="stylesheet">
 
    <div class="row">
      <div class="col-md-8 indexpagevideo">
        <div class="card">
          <div class="card-body">
            
             <iframe class="getooltipvideo" src=https://www.youtube.com/embed/L0I5TSDrR4A frameborder="0" allowfullscreen></iframe> 
            

          </div>
        </div>
      </div>
      <div class="col-md-4 indexpagesidebarcol" >
        <div class="card indexpagesidebarcard">
          <div class="card-body">
                  <div class="card-header">
                    Selenium Java
                  </div>
                  <ul class="list-group list-group-flush indexpageul">
                    <li><a href="/gettooltiptext" class="list-group-item"><i class="fas fa-play"></i> Get Tooltip Text Using Selenium WebDriver</a></li>
                    <li><a href="/webdrivermanager" class="list-group-item"><i class="fas fa-play"></i> What is WebDriverManager?</a></li>
                    <li><a href="#" class="list-group-item"><i class="fas fa-play"></i> Alerts Handling Using Selenium WebDriver</a></li>
                    <li><a href="#" class="list-group-item"><i class="fas fa-play"></i> Working with Excel Using Selenium WebDriver</a></li>
                    <li><a href="#" class="list-group-item"><i class="fas fa-play"></i> Working Wtih DB Using Selenium WebDriver</a></li>
                    <li><a href="#" class="list-group-item"><i class="fas fa-play"></i> Working With API Using Selenium Webdriver</a></li>
                    <li><a href="#" class="list-group-item"><i class="fas fa-play"></i> Working With API Using Selenium Webdriver</a></li>
                    <li><a href="#" class="list-group-item"><i class="fas fa-play"></i> Working With API Using Selenium Webdriver</a></li>
                    <li><a href="#" class="list-group-item"><i class="fas fa-play"></i> Working With API Using Selenium Webdriver</a></li>
                    <li><a href="#" class="list-group-item"><i class="fas fa-play"></i> Working With API Using Selenium Webdriver</a></li>
                    <li><a href="#" class="list-group-item"><i class="fas fa-play"></i> Working With API Using Selenium Webdriver</a></li>
                    <li><a href="#" class="list-group-item"><i class="fas fa-play"></i> Working With API Using Selenium Webdriver</a></li>
                  </ul>                    
</div>
</div>
</div>

</div> 
<div class="row">
<div class="col-md-12 maincontent">
  <div class="card">
    <div class="card-body">
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button id="sidebar" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
              Video Transcript
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <div class="maincontentdata">
                 
                    
                  

<link href="/static/css/code.css" rel="stylesheet">
<h1 class="title">Get Tooltip Text Using Selenium Webdriver</h1>
    
                  <br>
                  <br>
                  <p>
                      A Tooltip is a text that appears when we mouse hovers over on an object. The object can be a link, an image, a button, a text area, etc. The tooltip text often gives more information about the object on which the user hovers over the mouse cursor.
                      As part of test validation process,let us see how to validate tooltip using selenium webdriver.
                  </p>
                  <br>
                  <p>
                    Please check below screenshot and script
                  </p>
                  <br>
                  <img class="gettooltiptextimage" src="/static/images/getttooltipimage.png" alt="get tooltip">
           <div class="codecontainer">
                
                <div class="language">Selenium Java</div>  
                <div class="code-wrapper">    
                <pre>
                  <code id="gettooltiptextcode">                 
            package Scripts;
            import org.openqa.selenium.By;
            import org.openqa.selenium.WebDriver;
            import org.openqa.selenium.chrome.ChromeDriver;
            import org.openqa.selenium.support.ui.Sleeper;
            import io.github.bonigarcia.wdm.WebDriverManager;
              
              public class GetToolTipText 
              {
              public static void main(String[] args) throws InterruptedException
              {
              //set chrome driver path
              WebDriverManager.chromedriver().setup();
              ChromeDriver driver=new ChromeDriver();
              
              //Open url
              
              driver.get("http://www.testautomationpoint.com/Tooltip");
              
              //maximise browser
                                      
              driver.manage().window().maximize();
                                      
              //identify the object and get tooltip text
                                      
              String strtext = driver.findElement(By.id("toolTipButton")).getAttribute("title");
                                      
              //print the text
                                      
              System.out.println(strtext);
                                      
              //validation
              
              Thread.sleep(3000);
                                      
              if(strtext.equals("I am a button")) 
              {							
                System.out.println("Test Case Passed");					
              }	
              else
              {
              ystem.out.println("Test Case Failed");	
              }
                                      
              //close the browser
                                      
              driver.close();
              }                                  
              }     
              <button id="copybutton">Copy</button>    
            </pre>
            
          </code>    
            </div>
        

        </div>

          

                    
                    
                  
    </div>
    </div>   
</div>
</div>
</div>
  

    
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
  <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
  <a class="a2a_button_facebook"></a>
  <a class="a2a_button_twitter"></a>
  <a class="a2a_button_email"></a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  <!-- AddToAny END -->

<div id="disqus_thread"></div>

</div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://http-www-testautomationpoint-com.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

      <script src="/static/js/sidebars.js"></script>
      <script>
        $(document).ready(function () {
      
          $("#sidebar").mCustomScrollbar({
               theme: "minimal"
          });
      
          $('#sidebarCollapse').on('click', function () {
              // open or close navbar
              $('#sidebar').toggleClass('active');
              // close dropdowns
              $('.collapse.in').toggleClass('in');
              // and also adjust aria-expanded attributes we use for the open/closed arrows
              // in our CSS
              $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          });     
      });
      </script>
      <script id="dsq-count-scr" src="//http-www-testautomationpoint-com.disqus.com/count.js" async></script>
      



</body>
</html>
