{% extends 'header.html' %}
{% block content %}
{% load static %}

<link href="{% static 'css/indexstyle.css' %}" rel="stylesheet"/>
    

    
    <!-- Custom styles for this template -->
    <link href="{% static 'css/sidebars.css' %}" rel="stylesheet"/>
  
    

    <div class="row">
      <div class="col-sm-8 indexpagevideo">
        <div class="card">
          <div class="card-body">
            <iframe class="getooltipvideo" src="https://www.youtube.com/embed/kbizBdP-Cqw" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-sm-4 indexpagesidebarcol" >
        <div class="card indexpagesidebarcard">
          <div class="card-body">
            <ul class="list-unstyled ps-0">
              <li class="mb-1">

                <div class="collapse show" id="home-collapse">
                  <div class="card-header">
                    Selenium Java
                  </div>
                  <ul class="list-group list-group-flush">
                    <li><a href="{% url 'gettooltiptext' %}" class="list-group-item">Get Tooltip Text Using Selenium WebDriver</a></li>
                    <li><a href="#" class="list-group-item">Print Table Data Using Selenium WebDriver</a></li>
                    <li><a href="#" class="list-group-item">Alerts Handling Using Selenium WebDriver</a></li>
                    <li><a href="#" class="list-group-item">Working with Excel Using Selenium WebDriver</a></li>
                    <li><a href="#" class="list-group-item">Working Wtih DB Using Selenium WebDriver</a></li>
                    <li><a href="#" class="list-group-item">Working With API Using Selenium Webdriver</a></li>
                    <li><a href="#" class="list-group-item">Handling Windows Popups Using Selenium Webdriver</a></li>
                    <li><a href="#" class="list-group-item">Working With TestNG In Selenium Webdriver</a></li>
                    <li><a href="#" class="list-group-item">Working Maven Project In Selenium Webdriver</a></li>
        
                  </ul>
                </div>
              </li>
                
             
            </ul>
</div>
</div>
</div>

</div>
<div class="row">
<div class="col-sm-12 col-md-12 maincontent">
  <div class="card">
    <div class="card-body">
    <h1 class="title">Get Tooltip Text Using Selenium Webdriver</h1>
    
    <br>
    <br>
    <p>
        A Tooltip is a text that appears when we mouse hovers over on an object. The object can be a link, an image, a button, a text area, etc. The tooltip text often gives more information about the object on which the user hovers over the mouse cursor.
        As part of test validation process,let us see how to validate tooltip using selenium webdriver.
    </p>
    <br>
    <p>
      Please check below screenshot and script
    </p>
    <br>
    <img class="gettooltiptextimage" src="{% static 'images/getttooltipimage.png' %}" alt="get tooltip">
    <div class="code"">
       
        <pre>
            <code>
package Scripts;
import org.openqa.selenium.By;
import org.openqa.selenium.WebDriver;
import org.openqa.selenium.chrome.ChromeDriver;
import org.openqa.selenium.support.ui.Sleeper;
import io.github.bonigarcia.wdm.WebDriverManager;

public class GetToolTipText 
{
public static void main(String[] args) throws InterruptedException
{
//set chrome driver path
WebDriverManager.chromedriver().setup();
ChromeDriver driver=new ChromeDriver();

//Open url

driver.get("http://www.testautomationpoint.com/Tooltip");

//maximise browser
                        
driver.manage().window().maximize();
                        
//identify the object and get tooltip text
                        
String strtext = driver.findElement(By.id("toolTipButton")).getAttribute("title");
                        
//print the text
                        
System.out.println(strtext);
                        
//validation

Thread.sleep(3000);
                        
if(strtext.equals("I am a button")) 
{							
  System.out.println("Test Case Passed");					
}	
else
{
ystem.out.println("Test Case Failed");	
}
                        
//close the browser
                        
driver.close();
}
                    
}
            </code>
        </pre>
        

    </div>
      
</div>
</div>
</div>
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
  <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
  <a class="a2a_button_facebook"></a>
  <a class="a2a_button_twitter"></a>
  <a class="a2a_button_email"></a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  <!-- AddToAny END -->
<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://http-www-testautomationpoint-com.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

  
    

      <script src="{% static 'js/sidebars.js' %}"></script>
      <script>
        $(document).ready(function () {
      
          $("#sidebar").mCustomScrollbar({
               theme: "minimal"
          });
      
          $('#sidebarCollapse').on('click', function () {
              // open or close navbar
              $('#sidebar').toggleClass('active');
              // close dropdowns
              $('.collapse.in').toggleClass('in');
              // and also adjust aria-expanded attributes we use for the open/closed arrows
              // in our CSS
              $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          });     
      });
      </script>
      <script id="dsq-count-scr" src="//http-www-testautomationpoint-com.disqus.com/count.js" async></script>
      {% endblock %}

