{% extends 'index.html' %}
{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get tooltip of an element</title>
</head>
<body>
    
    <div class="container">
        <strong>Get tool tip of an element</strong>
        <br>
        <p>
            A Tooltip in Selenium is a text that appears when a mouse hovers over an object on a web page. The object can be a link, an image, a button, a text area, etc. The tooltip text often gives more information about the object on which the user hovers over the mouse cursor
        </p>
        <br>
        <img src="{% static 'images/gettooltipscript.png' %}",width="300" height="300">
        <p>
        <video width="320" height="240" controls>
            <source src="{% static 'videous/gettooltip.mp4' %}" type="video/mp4">
          get tooltip of an element
        </video>
        </p>
    </div>
    <style>
    .container {
        display:block;
        margin-right: auto; margin-left: auto;
        border-color: black;
        border-width: 1px;  
        border-style: solid;
        padding: 20px;
        width: 600px;
    }
    .container p {
        white-space: pre-line;
        width: 500px;
    }
</style>
</body>
</html>
{% endblock %}