{% block content %}
{% include 'TestPage.html' %}

       
<div class="col-md-10 testpagemaincontent">
  <div class="card">
    <div class="card-body">  
        <strong>Radio Buttons</strong>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="yesRadio" name="like" class="custom-control-input">
            <label class="custom-control-label" for="yesRadio">Yes</label></div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="impressiveRadio" name="like" class="custom-control-input">
                <label class="custom-control-label" for="impressiveRadio">Impressive</label></div>
                <div class="custom-control disabled custom-radio custom-control-inline">
                    <input type="radio" id="noRadio" disabled="" name="like" class="custom-control-input disabled">
                    <label class="custom-control-label disabled" for="noRadio">No</label>
                </div>
                
                <div class="collapse" id="mytooltip">
                    
                        <strong>Tool Tip</strong>
                
                    
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary" data-toggle="tooltip" title="You Hovered over the button">
                        Hover me to see
                      </button>
                      <br>
                      <a type="email" class="link lnk-primary" data-toggle="tooltip" title="You Hovered over the Link">
                        Hover me to see
                      </a>
                      <br>
                      <input type="email" class="txt txt-primary" data-toggle="tooltip" title="You Hovered over the text field" placeholder="Hover me to see">
                      
                    </div>
        </div>
                </div>
</div>

  




{% endblock %}