{% extends 'index.html' %}




{% block content %}

<div>
    <div>
        <div style="float: left; padding-right: 6px; width: 342px; height: 285px; display: none;">
            <div id="div-gpt-ad-1565016699961-0" style="display: none;"> 
                <script>googletag.cmd.push(function(){googletag.display('div-gpt-ad-1565016699961-0');});</script>
             </div>
             </div>
            </div>
            
            <h3>Selenium is a popular open-source web-based automation tool. This online course is a step by step guide to learn Selenium Concepts. It is recommended you refer these Selenium Tutorials sequentially, one after the other. <h3>
            
    
                <table class="table"> 
                    <tbody>
                        <tr> 
                            <td class="responsivetable">
                                <span class="fa fa-hand-o-right"></span>
                                <a href="{% url 'Introductiontoselenium' %}" title="What is Selenium? Introduction to Selenium Automation Testing">
                                    <strong> Tutorial</strong>
                                </a>
                            </td> 
                                    <td>Introduction</td> 
                        </tr>
                        <tr> 
                            <td class="responsivetable">
                                <span class="fa fa-hand-o-right"></span>
                                <a href="{% url 'Introductiontoselenium' %}" title="Get Tooltip Text Using Selenium WebDriver">
                                    <strong> Tutorial</strong>
                                </a>
                            </td> 
                                    <td>Get Tooltip Text Using Selenium WebDriver</td> 
                        </tr>
   
    
{% endblock %}
