{% extends 'header.html' %}
{% block content %}
{% load static %}


<link href="{% static 'css/testpagestyle.css' %}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{% static 'css/sidebars.css' %}" rel="stylesheet">
        <div class="row">
            <div class="col-sm-3 testpagesidebar">

              <div class="card">
                <div class="card-body">
  

    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button id="sidebar" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Test Components
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{% url 'Textboxpage' %}" class="link-dark rounded">Textbox</a></li>
            <li><a href="{% url 'Tooltip' %}" class="link-dark rounded">Tooltip</a></li>
            <li><a href="{% url 'alertstestpage' %}" class="link-dark rounded">Alerts</a></li>
            <li><a href="{% url 'iframetestpage' %}" class="link-dark rounded">IFrames</a></li>
          </ul>
        </div>
      </li> 
    </ul>
  </div>
</div>
</div>
{% endblock %}
</div>
    
{% block content2 %}



    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

      <script src="{% static 'js/sidebars.js' %}"></script>
      <script>
        $(document).ready(function () {
      
          $("#sidebar").mCustomScrollbar({
               theme: "minimal"
          });
      
          $('#sidebarCollapse').on('click', function () {
              // open or close navbar
              $('#sidebar').toggleClass('active');
              // close dropdowns
              $('.collapse.in').toggleClass('in');
              // and also adjust aria-expanded attributes we use for the open/closed arrows
              // in our CSS
              $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          });
          
          
      
      });
      </script>
      {% endblock %}
     
