{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
      
        
          <div id="collapse1" class="panel-collapse collapse">
            <ul class="list-group">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'TextboxPage' %}">Textbox</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Radioboxpage' %}">Radio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Listbox</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Buttons</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
        
     
    
</body>
</html>

{% endblock %}