{% block content %}
{% include 'TestPage.html' %}

<div class="col-md-9 testpagemaincontent">
  <div class="card">
    <div class="card-body">                   
    <div id="toopTipContainer">
        <div id="buttonToolTopContainer">
            <p>Practice Tool Tips</p>
            <button id="toolTipButton" type="button" class="btn btn-success" data-toggle="tooltip" title="I am a button">Hover me to see</button>
        </div>
        <div id="texFieldToolTopContainer" class="mt-4">
            <input autocomplete="off" placeholder="Hover me to see" type="text" id="toolTipTextField" class=" mr-sm-2 form-control" data-toggle="tooltip" title="I am a textbox"></div>
            <div id="texToolTopContainer" class="mt-4">
                <a href="javascript:void(0)" data-toggle="tooltip" title="I am a link">Hover me to see</a> 
                </div>
            </div>
    </div>
</div>
    </div>




{% endblock %}