{% block content1 %}
{% load static %}
<link href="{% static 'css/code.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
<div class="webdrivermanagerpage">
    <h1 class="title">WebDriverManager</h1>
    <p>
        WebDriverManager is a library which allows us to automate the management of the drivers (e.g. iedriver, chromedriver, geckodriver, etc.) required by selenium web driver.
        <br>
        Go to maven repository ,find stable version and get the dependency from <a href="https://mvnrepository.com/artifact/io.github.bonigarcia/webdrivermanager" target="_blank">https://mvnrepository.com/artifact/io.github.bonigarcia/webdrivermanager</a>
        or add dependency from below into your pom.xml file
    </p>
    <br>
   
    <div class="codecontainer">                
        <div class="code-wrapper">    
        <pre>
          <code id="code3">
       
                <textarea id="maven-a" readonly="true" rows="7" cols="40" style="width: 100%" class="snippet">&lt;!-- https://mvnrepository.com/artifact/io.github.bonigarcia/webdrivermanager --&gt;
                    &lt;dependency&gt;
                        &lt;groupId&gt;io.github.bonigarcia&lt;/groupId&gt;
                        &lt;artifactId&gt;webdrivermanager&lt;/artifactId&gt;
                        &lt;version&gt;4.4.3&lt;/version&gt;
                    &lt;/dependency&gt;
                    </textarea>
                </code>
            </pre>
            <button class="copy-button" id="copy-button" data-clipboard-target="#code3"><i class="fas fa-copy"></i></button> 
            </div>
            </div>


        Use these code in the script to initiate the driver using webdriver manager
        <div class="codecontainer">                
            <div class="code-wrapper">    
            <pre>
              <code id="code2"> 
                //set webdrivermanager for chrome
                WebDriverManager.chromedriver().setup();
                ChromeDriver driver=new ChromeDriver();
            </code>
        </pre>
        <button class="copy-button" id="copy-button" data-clipboard-target="#code2"><i class="fas fa-copy"></i></button> 
        </div>
        </div>


        <div class="codecontainer">                
            <div class="code-wrapper">    
            <pre>
              <code id="code1"> 
        
        package Scripts;

        import org.openqa.selenium.WebDriver;
        import org.openqa.selenium.chrome.ChromeDriver;

        import io.github.bonigarcia.wdm.WebDriverManager;

        public class Webdrivermanager {
	    public static void main(String[] args) throws InterruptedException {
		
		
		//With webdriver manager,initiating the driver and opening the website
		
		WebDriverManager.chromedriver().setup();
		ChromeDriver driver1=new ChromeDriver();
		driver1.get("http://www.testautomationpoint.com/");
		
	}

}
</code>
</pre>
<button class="copy-button" id="copy-button" data-clipboard-target="#code1"><i class="fas fa-copy"></i></button> 
</div>
</div>



        

</p>
</div>
<script src="{% static 'js/code.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
<script>
    hljs.initHighlighting.called = false;
    hljs.initHighlighting();
    new ClipboardJS(".copy-button");

</script>
{% endblock %}